{%extends 'base.html' %}

{% block content %}

{% if not variables %}
<br>
Nothing to show
{% else %}
{% for variable in variables %}
<br>
<br>
{{variable.name}}={{variable.value}}
<br>
<br>
<a href="{% url 'delete_variable' my_project.id variable.id%}">Delete variable</a>
<a href="{% url 'edit_variable' my_project.id variable.id%}">Edit variable</a>
{% endfor %}
{% endif %}
<br>
<br>
<a href="{% url 'add_variable' my_project.id%}">Add variable</a>
<br>
<br>
<a href="{% url 'delete_project' my_project.id%}">Delete project</a>
{% endblock %}
